h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 41px;
    color: #49516F;
}

header{
    margin-bottom: 40px;
    text-align: center;
}

body{
    background-color: #F4F4F4;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 120px auto;
    max-width: 600px;
}

form{
    position: relative;
    display: flex;
    margin-bottom: 32px;
} 

.prompt{
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #dddddd;
    width: 100%;
}

.submit-button{
    border-radius: 8px;
    border: none;
    background-color: #FF477E;  
    color: #ffff;
    padding: 8px 10px;
    position: absolute;
    right: 8px;
    top: 13%;
}
.submit-button:hover{
    background-color: #fc79a0; 
    cursor: pointer;
}
.poem{
    font-size: 16px;
    line-height: 1.5;
    background-color: #F0F0F0;
    padding: 16px;
    border-left:2px solid #FF477E;
}

footer{
    text-align: center;
    font-size: 12px;
    margin-top: 24px;
}
a{
    color: #FF477E;  
}